<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <title>Edit this client</title>
    </head>
    <body>
        <div class="container">
            <h1>Update {{ client.getClientName }}'s information</h1>


            <form action="/client/{{ client.getClientId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <div class="form-group">
                <input id='stylist_id' name='stylist_id' type='hidden' value='{{ client.getStylistId() }}'>
                    <label for="client_name">Update client name:</label>
                    <input id="client_name" name="client_name" type="text">

                    <label for="phone">Update client phone number:</label>
                    <input id="phone" name="phone" type="text">
                </div>
              <button type="submit" class="btn btn-success">Update!</button>
            </form>


            <form action="/client/{{ client.getClientId }}" method="post">
                <input name="_method" type="hidden" value="delete">
                <!-- needs id to tell the function what to delete.  -->
                <input id='stylist_id' name='stylist_id' type='hidden' value='{{ client.getStylistId() }}'>
                <button type="submit" class="btn btn-danger">Delete this client</button>
            </form>


        </div>
    </body>
</html>
